.new-post-container {
  background-color: white;
  width: 18vw;
  height: 30vw;
  margin-top: 2vw;
  float: left;
  margin-bottom: 2vw;
  border-style: solid;
}
.new-post-container textarea {
  width: 100%;
  height: 90%;
}
.new-post-container input[type="text"] {
  width: 100%;
  background-color: aqua;
}
.new-post-container input[type="submit"] {
  background-color: aquamarine;
}
