.Post {
  width: 90%;
  min-height: 15vw;
  height: fit-content;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: white;
  border-radius: 0.5vw;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
  -moz-box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
  box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
}
.post-title {
  float: left;
  font-size: 2vw;
  margin-left: 5vw;
  text-align: left;
}
.post-author {
  float: right;
  margin-right: 5vw;
}
.post-content {
  clear: both;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
  word-wrap: break-word;
}
