.Post {
  width: 85%;
  height: 15vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #9cb770;
  color: white;
  border-radius: 3vw;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(156, 183, 112, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(156, 183, 112, 1);
  box-shadow: 8px 8px 24px 0px rgba(156, 183, 112, 1);
}
.PostTitle {
  font-size: 2vw;
  margin-left: 5vw;
  text-align: left;
}
.PostContent {
  margin-left: 5vw;
  text-align: left;
}
