.Register {
  margin-top: 5vw;
  margin-bottom: 5vw;
  height: 32vw;
  width: 50vw;
  text-align: center;
  color: white;
  background-color: #5dceb6;
  border-radius: 2vw;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
  -moz-box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
  box-shadow: 2px 2px 6px -1px rgba(66, 68, 90);
}
.Register input {
  display: block;
  margin: auto;
}
.Register input[type="submit"] {
  margin-top: 1vh;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #4ab19b;
}

.Register img {
  width: 5vw;
  margin-bottom: 1vh;
  border-radius: 100%;
}
